<nav class="navbar" id="navbar-main">
  <ul class="navbar-list">
    <li class="navbar-brand">
      <a href="/">
        <img id="logo" src="/img/logo.png" alt="IDTech" />
      </a>
    </li>
    <li class="navbar-login">
      <button class="navbtn" id="dash-btn" onclick="location.href='/';">Dashboard</button>
      <button class="navbtn" id="profile-btn" onclick="location.href='/profile';">Profile</button>
      <button class="navbtn" id="devices-btn" onclick="location.href='/devices';">Devices</button>
      <button class="navbtn" id="logout-btn" onclick="location.href='/logout';">Logout</button>
      <button class="navbtn" id="barcode-btn" onclick="location.href='/barcode';">Barcode</button>
    </li>
    <li class="sidebar-mobile-icon-holder">
      <!-- <img id="sidebar-icon" width="30px" class="sidebar-mobile-icon" src="/img/sidebar/icon.png"> -->
      <div class="icon-wrapper">
        <div class="sidebar-button"></div>
        <div class="circle icon">
          <span class="line top"></span>
          <span class="line middle"></span>
          <span class="line bottom"></span>
        </div>
      </div>
    </li>
  </ul>
</nav>
<script type="text/javascript" src="/js/base.js">
</script>