<nav class="navbar" id="navbar-main">
  <ul class="navbar-list">
    <li class="navbar-brand">
      <a href="/">
        <img id="logo" src="/img/logo.png" alt="IDTech"/>
      </a>
    </li>
    <li class="navbar-login">
      <button class="gtbtn acct" id="profile-btn" onclick="location.href='/profile';">Profile</button>
      <button class="gtbtn acct" id="devices-btn" onclick="location.href='/devices';">Devices</button>
      <button class="gtbtn acct" id="logout-btn" onclick="location.href='/logout';">Logout</button>
    </li>
    <li class="sidebar-mobile-icon-holder">
      <svg class="sidebar-mobile-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve"> <path fill="#ffffff" d="M31,7.978c0,1.575-1.296,2.852-2.894,2.852H6.977c-1.598,0-2.893-1.277-2.893-2.852l0,0c0-1.575,1.295-2.853,2.893-2.853 h21.13C29.704,5.125,31,6.402,31,7.978L31,7.978z"/> <path fill="#ffffff" d="M31,17.312c0,1.575-1.296,2.853-2.894,2.853H6.977c-1.598,0-2.893-1.277-2.893-2.853l0,0c0-1.575,1.295-2.853,2.893-2.853 h21.13C29.704,14.46,31,15.737,31,17.312L31,17.312z"/> <path fill="#ffffff" d="M31,26.647c0,1.575-1.296,2.853-2.894,2.853H6.977c-1.598,0-2.893-1.277-2.893-2.853l0,0c0-1.575,1.295-2.853,2.893-2.853 h21.13C29.704,23.795,31,25.072,31,26.647L31,26.647z"/> </svg> 
    </li>
  </ul>
</nav>
<script type="text/javascript"
  src="/js/base.js">
</script>