.login-wrapper {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logo-holder {
  padding: 10%;
  background: #2c2c2c;
  height: 30%;
  position: relative;
}
.logo {
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.form-holder {
  height: 60%;
  position: relative;
}
.login-form {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
}
.login-field {
  width: 100%;
  height: 35px;
  text-indent: 26px;
}

#un {
  background: url(/img/un.png) no-repeat scroll 6px;
}

#pw {
  background: url(/img/pw.png) no-repeat scroll 6px;
}

#auth {
  background: url(/img/auth.png) no-repeat scroll 6px;
}