body {
	font-family: "Open Sans";
}

.base {
	width: 90%;
	padding: 0% 5%;
	display: inline-block;
}

.search-bar {
	font-size: 20pt;
	padding: 30px 25px;
    height: 70px;
    width: 85%;
    border: 1px grey solid;
    border-radius: 35px;
}
.results-list {
	list-style: none;
	padding: 0% 5%;
}

.result-holder {
	height: 60px;
    line-height: 47px;
    font-size: 17pt;
    text-align: left;
    background: #dcffd7;
    margin-top: 10px;
    padding: 0px 20px;
    cursor: pointer;
}

.result-subtext {
	float: left;
    font-size: 8pt;
    line-height: 0px;
    color: #333;
    height: 15px;
    display: inline-block;
}

.sort-by-holder {
	font-size: 17pt;
	float: left;
	margin-top: 40px;
	text-align: left;
}

.sort-by {
	font-size: 17pt;
}

.sort-by-label {
	font-size: 17pt;
}

