body {
    font-family: "Open Sans";
}

.base {
    width: 90%;
    padding: 0% 5%;
    display: inline-block;
}

.search-bar {
    font-size: 20pt;
    padding: 30px 25px;
    height: 70px;
    width: 90%;
    border: 1px grey solid;
    border-radius: 35px;
}
.results-list {
    list-style: none;
    padding: 0% 5%;
}

.result-holder {
    height: 60px;
    line-height: 47px;
    font-size: 17pt;
    text-align: left;
    background: #dcffd7;
    margin-top: 10px;
    padding: 0px 20px;
    cursor: pointer;
}

.result-holder.Connected {
    background: #dcffd7;
}

.result-holder.Offline {
    background: #ffc9c9;
}

.result-holder.RKI {
    background: #fff1c9;
}

.result-subtext {
    float: left;
    font-size: 8pt;
    line-height: 0px;
    color: #333;
    height: 15px;
    display: inline-block;
}
.status {
    float: right;
    line-height: 20px;
    font-size: 9pt;
}

.sort-by-holder {
    font-size: 17pt;
    float: left;
    text-align: left;
}

.sort-by {
    font-size: 17pt;
}

.sort-by-label {
    font-size: 17pt;
}

.filters-popup {
    background: #fff;
    width: 90%;
    height: 305px;
    position: fixed;
    z-index: 100;
    top: 70px;
    border-radius: 20px;
    display: none;
    padding: 7px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation-name: animatefilterbox;
    -webkit-animation-duration: 0.4s;
    animation-name: animatefilterbox;
    animation-duration: 0.4s

}

.filters-popup-bar {
    width: 100%;
    height: 40px;
    background: #2c2c2c;
    top: 0px;
    position: absolute;
    left: 0px;
}

.filters-popup-content {
    padding: 40px 5px;
}

#closefilters {
    float: right;
    cursor: pointer;
    height: 18px;
    margin: 10px 12px;
}
.key { 
    float: left;
    display: inline-block;
    width: 20%;
}
.value {
    float: left;
    display: inline-block;
    width: 55%;
    padding-left: 2%;
    height: 1.8em;
}
.entry {
    overflow: auto;
    margin-bottom: 15px;
    line-height: 1.8em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatemodal;
    -webkit-animation-duration: 0.4s;
    animation-name: animatemodal;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatemodal {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatemodal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes animatefilterbox {
    from {top:-300px; opacity:0} 
    to {top:70; opacity:1}
}

@keyframes animatefilterbox {
    from {top:-300px; opacity:0}
    to {top:70; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #00944f;
    color: white;
}

.modal-body {padding: 2px 16px;}

#camera-btn {
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
