<!DOCTYPE html>
<html>

<head>
  <title>Devices</title>
  <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    </br>
    <center>
        <input class="search-bar" placeholder="Search by Device ID" type="text">
        <div class="base sort-by-holder">
            <span class="sort-by-label">Sort By: </span>
            <select class="sort-by">
              <option value="mostrecent" selected>Most Recent (Default)</option>
            </select>
        </div>
        <ul class="base results-list">
        <% for (var i = 0; i < data.length; ++i) { %>
            <li class="result-holder">
                <span class="result-name"><%- data[i].deviceID %></span>
<!--                 <span class="result-subtext">Last Update <%- new Date(data[i].lastHeartbeat).toDateString() %></span> -->
            </li>
        <% } %>
        </ul>
        </br>
    </center>

</head>

</html>
