<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
  href="/css/profile.css">
</head>
<body>
  <% include ../partials/header %>
  <center style="margin-top: 67px; display: inline-block; width:100%;" style="width:100%; text-align: center">
  	<div style="background: none" class="info-holder">
		<h3 style="margin-bottom: 8px;position:relative; text-align: left;">Terminal Management System</h3>
		<div class="entry">
			<span class="tms-detail">Deployed Devices: <a href="/devices">1738</a></span>
		</div>
		<div class="entry">
			<span class="tms-detail">Online: <a href="/devices?status=Connected">51</a></span>
			<span class="tms-detail">Offline: <a href="/devices?status=Offline">10</a></span>
			<span class="tms-detail">Alerts: <a>0</a></span>
		</div>

        <div id="myOnlineCamera">
            <video></video>
            <canvas></canvas>
            <button>Take Photo</button>
        </div>
        <script>

            var videoObj    = { "video": true },
                errBack        = function(error){
                    // alert("Video capture error: ", error.code);
                };

            // Ask the browser for permission to use the Webcam
            if(navigator.getUserMedia){                    // Standard
                navigator.getUserMedia(videoObj, startWebcam, errBack);
            }else if(navigator.webkitGetUserMedia){        // WebKit
                navigator.webkitGetUserMedia(videoObj, startWebcam, errBack);
            }else if(navigator.mozGetUserMedia){        // Firefox
                navigator.mozGetUserMedia(videoObj, startWebcam, errBack);
            };

            function startWebcam(stream){

                var myOnlineCamera    = getElementById('myOnlineCamera'),
                    video            = myOnlineCamera.querySelectorAll('video'),
                    canvas            = myOnlineCamera.querySelectorAll('canvas');

                video.width = video.offsetWidth;

                if(navigator.getUserMedia){                    // Standard
                    video.src = stream;
                    video.play();
                }else if(navigator.webkitGetUserMedia){        // WebKit
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }else if(navigator.mozGetUserMedia){        // Firefox
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                };

                // Click to take the photo
                $('#webcam-popup .takephoto').click(function(){
                    // Copying the image in a temporary canvas
                    var temp = document.createElement('canvas');

                    temp.width  = video.offsetWidth;
                    temp.height = video.offsetHeight;

                    var tempcontext = temp.getContext("2d"),
                        tempScale = (temp.height/temp.width);

                    temp.drawImage(
                        video,
                        0, 0,
                        video.offsetWidth, video.offsetHeight
                    );

                    // Resize it to the size of our canvas
                    canvas.style.height    = parseInt( canvas.offsetWidth * tempScale );
                    canvas.width        = canvas.offsetWidth;
                    canvas.height        = canvas.offsetHeight;
                    var context        = canvas.getContext("2d"),
                        scale        = canvas.width/temp.width;
                    context.scale(scale, scale);
                    context.drawImage(bigimage, 0, 0);
                });
            };

        </script>

	</div>

	</center>
</body>

</html>