<!DOCTYPE html>
<html>

<head>
  <title>Log In</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
    href="/css/login.css">
</head>
<body style="background: #fff">
  <div class="login-wrapper">
      <div class="logo-holder">
        <img class="logo" src="/img/logo-big.png">
      </div>
      <div class="form-holder">
        <form enctype="application/x-www-form-urlencoded" method="post" class="login-form">
            <div class="login-header">
              <h3>Login</h3>
            </div>
            <div style="font-size: 13.5pt;">
                Username:<br>
                <input class="text login-field" id="un" type="text" name="username">
                <br>
                <br>
                Password:<br>
                <input class="text login-field" id="pw" type="password" name="password">
                <div id="ertext" style="color:red; font-size: 10pt;">
                  <% if (status == false) { %>
                    Incorrect Username or Password
                  <% } %>
                </div>
            </div>
            <br>
            <input type="submit" value="Log In" style="width: 120px;">
        </form>
      </div>
  </div>

</body>

</html>