<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <center class="center-vert" style="width:100%; text-align: center">
    <h1>Dummy Profile Page hehe :P</h1>
</center>
</body>

</html>