<!DOCTYPE html>
<html>

<head>
  <title>Two-Factor Authentication</title>
  <% include ../partials/head %>
</head>
<body style="background: #fff">
     <center class="center-vert">
      <img style="width:100%" src="/img/idtech.png">
        <form>
            <font size="4">
                We have sent a temporary code to <br>
                xxx-xxx-xxxx <br>
                <br>
                <input class="element text large" type="text" name="6-Digit Code " maxlength="6" required placeholder="6-Digit Code">
            </font>
        </form>
        </br>

        <form method="post">
            <input type="submit" class="ghost-button" value="Verify" style="width: 120px;">
        </form>
    </center>
    
</body>

</html>