<!DOCTYPE html>
<html>

<head>
  <title>Two-Factor Authentication</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
    href="/css/login.css">
</head>
<body style="background: #fff">
  <div class="login-wrapper">
      <div class="logo-holder">
        <img class="logo" src="/img/logo-big.png">
      </div>
      <div class="form-holder">
        <form enctype="application/x-www-form-urlencoded" method="post" class="login-form">
            <div class="login-header">
              <h3>Two-Factor Authentication</h3>
            </div>
            <div>
                We have sent a temporary code to <br>
                xxx-xxx-8231 <br>
                <br>
                <input class="text login-field" type="text" name="twofa" maxlength="6" id="auth" placeholder="6-Digit Code">
                <div id="ertext" style="color:red;">
                  <% if (stats == false) { %>
                    Authorization Code is incorrect
                  <% } %>
                </div>
            </div>
            <br>
            <input type="submit" value="Verify" style="width: 120px;">
        </form>
      </div>
  </div>

</body>

</html>